<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <div id="vueEntry">
            <!-- Block 1 -->
            <div v-if="containerState[0] === 'input'" class="video-select-container" id="selectContainer1">
                <div class="video-type-block">
                    <div class="video-type" :class="{'video-type-selected': videoType[0] === 'file' }" id="videoTag" @click="changeVideoType(0, 'file')">File</div>
                    <div class="video-type" :class="{'video-type-selected': videoType[0] === 'youtube' }" id="TYTag" @click="changeVideoType(0, 'youtube')">Youtube</div>
                </div>
                <div v-if="videoType[0] === 'file'" class="input-block">
                    <input type="file" @change="(event) => chooseVideo(event, 0)">
                </div>
                <div v-else class="input-block">
                    <input type="text"
                        autocomplete="none"
                        v-model="youtubeURL[0]"
                    >
                    <button @click="confirmURL(0)">Confirm</button>
                </div>
            </div>
            <div v-else class="video-container">
                <div class="video-button back-button" @click="returnToInput(0)">Back</div>
                <div v-if="videoType[0] === 'file'" class="video-block">
                    <video
                        ref="videoRef"
                        :src="videoSource[0]"
                        onloadstart="this.volume = 0.2"
                        playsinline
                        @mouseover="hoverVideo(true)"
                        @mouseout="hoverVideo(false)"
                        @timeupdate="updateDisplayTime"
                        @click="(event) => togglePlay(event)"
                        @dblclick="(event) => doubleClickHandler(event)"
                    >
                    </video>
                    <div class="video-button play-button" @click="playVideo">Play</div>
                    <div class="video-button pause-button" @click="pauseVideo">Pause</div>
                    <input type="range" class="video-bar" v-model="videoBarValue" min="0" max="100" @change="dragVideoTime"></input>
                    <div class="video-time">{{ videoTime }}</div>
                </div>
                <div v-else class="video-block" id="player1"></div>
            </div>

            <!-- Block 2 -->
            <div v-if="containerState[1] === 'input'" class="video-select-container" id="selectContainer2">
                <div class="input-block">
                    <input type="text" v-model="youtubeURL[1]" autocomplete="none">
                    <button @click="confirmURL(1)">Confirm</button>
                </div>
            </div>
            <div v-else class="video-container">
                <div class="video-button back-button" @click="returnToInput(1)">Back</div>
                <div class="video-block" id="player2"></div>
            </div>
        </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="./vueEntry.js" type="module"></script>
    </body>
</html>